<div class="row">
    <div class="col-md-12">
        <div class="card">
        <div class="card-header text-bg-light" style="border-radius: 5px; margin: 3%;">
            <h4 class="card-title">Informe de {{informe.nombre}}</h4>
            <p class="card-category">{{informe.fecha}}</p>
        </div>
        <div class="card-body text-bg-light" style="border-radius: 5px; margin: 3%;">
            <table class="table-light">
                <tr>
                    <td>
                    {{informe.descripcion}}
                    </td>
                </tr>
                </table>
        </div>
</div>